.path {  stroke: #fff; }
.path:hover {  opacity:0.9; }
.rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{
  border-bottom:1px solid grey;
}
.legend tr:first-child{
  border-top:1px solid grey;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}


.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

#carte {
    height:460px;
    /*width:100%;*/
}

#wheretitle{
    padding-bottom:10px;
}

#header{
    padding-bottom:0px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:0px;
}

.colheight{
    height:450px;
}

.removepadding {
    padding-right:0px;
    padding-left:0px;
}

 .hdx-3w-chart {
    width:100%;
 }

 .hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }
